.thanks-section {
  background-color: #008474;
}

.thanks-section .thanks-container {
  max-width: 810px;
  margin: 0 auto;
  padding-top: 140px;
}

.thanks-section .thanks-container .text-1 {
  font-size: 48px;
  font-weight: 900;
  margin: 70px auto;
  text-align: center;
  color: #fff;
}

.thanks-section .thanks-container .text-2-wrapper {
  text-align: center;
}

.thanks-section .thanks-container .text-2-wrapper .text-2 {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 14px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
