.thanks-section {
  width: 100vw;
  background-color: #008474;
}

.thanks-section .thanks-container {
  max-width: 810px;
  margin: 140px auto;
}

.thanks-section .thanks-container .text-1 {
  font-size: 48px;
  font-weight: 900;
  margin: 80px auto;
  color: #fff;
}
