.top-section-3 {
  display: flex;
  align-items: center;
  height: 280px;
  background-image: url(../../img/2024/06/solution-bg.png);
  background-size: contain;
}

.top-section-3 .solution-bg {
  width: 100%;
}

.top-section-3 .text-container {
  width: 100%;
}

.top-section-3 .text-container .text-wrapper {
  font-size: 22px;
  font-weight: 500;
  line-height: 47px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 0;
  text-align: center;
  letter-spacing: .64px;
  color: #fff;
}

.top-section-3 .text-container .text-wrapper .text-1 {
  font-size: 25px;
  font-weight: 700;
  color: #00443c;
  background-color: #fac40a;
}

.top-section-3 .text-container .text-wrapper .text-2 {
  font-size: 25px;
  font-weight: 700;
}

.top-section-3 .text-container .text-wrapper .text-3-wrapper {
  line-height: 41px;
  display: inline-block;
  padding: 1px 1.5px 0;
  padding-bottom: 0;
  background-color: #fac40a;
}

.top-section-3 .text-container .text-wrapper .text-3-wrapper .text-3 {
  font-size: 25px;
  font-weight: 700;
  color: #00443c;
  border: 2px solid #00bca6;
  background-color: #fac40a;
}
