.top-section-9 {
  .top-container-3 {
    position: relative;

    .reason-bg-3 {
      width: 100%;
      max-width: 1440px;
    }
    .top-container-3-1 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      max-width: $appeal-section-max-width;
      margin: 10px auto;

      .img-wrapper {
        .reason-img-8 {
          width: 100%;
          max-width: 270px;
        }
      }

      .text-btn-wrapper {
        width: 65%;
        margin-left: 0;

        .text-wrapper {
          font-size: 22px;
          font-weight: 700;
          line-height: 44px;

          letter-spacing: .4px;

          color: #fff;

          .text-1 {
            font-size: 24px;
            font-weight: 900;

            color: #007a6b;
            background-color: #fac40a;

            &::before {
              font-size: 22px;
              font-weight: 700;

              content: '｢';

              color: #fff;
            }
            &::after {
              font-size: 22px;
              font-weight: 400;

              content: '｣';

              color: #fff;
            }
          }
        }

        .btn-wrapper {
          position: relative;

          display: flex;
          justify-content: space-between;

          margin-top: 30px;

          .img-btn-wrapper-1 {
            width: 350px;
            margin-right: 20px;
            .demo30s {
              position: absolute;
              z-index: 1;
              top: -22px;
              left: 40px;

              width: 230px;
            }
            .demo-btn {
              font-size: 18px;
              font-weight: 900;
              line-height: 60px;

              position: relative;

              display: block;

              height: 60px;
              padding: 0 60px 60px;

              transition: all .2s ease;
              text-align: center;
              text-decoration: none;

              color: #fff;
              border: 4px solid #fff;
              border-radius: 40px;
              background-color: #2aab9f;
              box-shadow: 0 4px 0 #000;

              &::after {
                position: absolute;
                top: 5px;
                right: 6px;

                width: 50px;
                height: 50px;

                content: '';

                background-image: url(../../img/2024/06/pc-icon.svg);
                background-size: contain;
              }

              &:hover {
                -webkit-transform: translateY(4px);
                        transform: translateY(4px);

                box-shadow: none;
              }
            }
          }
          .img-btn-wrapper-2 {
            width: 350px;
            .easy30s {
              position: absolute;
              z-index: 1;
              top: -22px;
              right: 40px;

              width: 230px;
            }
            .contact-btn {
              font-size: 18px;
              font-weight: 900;
              line-height: 60px;

              position: relative;

              display: block;

              height: 60px;
              padding: 0 60px 60px;

              transition: all .2s ease;
              text-align: center;
              text-decoration: none;

              color: #333;
              border-radius: 40px;
              background-color: #f9c40a;
              box-shadow: 0 4px 0 #a37f04;
              // box-shadow: 0 9.57px 0 #a37f04;

              &::after {
                position: absolute;
                top: 5px;
                right: 6px;

                width: 50px;
                height: 50px;

                content: '';

                background-image: url(../../img/2024/06/download-btn.svg);
                background-size: contain;
              }

              &:hover {
                -webkit-transform: translateY(4px);
                        transform: translateY(4px);

                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
