.top-section-7 {
  width: 100%;
  margin: 0 auto 30px;

  .text-container-1 {
    margin-top: 50px;

    text-align: center;

    @include media(sm) {
      margin-top: 40px;
    }

    .text-head-1 {
      font-family: 'Oswald', 'Noto Sans JP', sans-serif;
      font-size: 32px;
      font-weight: 700;

      margin-bottom: 8px;

      text-align: center;
      letter-spacing: 0;

      color: #008474;

      @include media(sm) {
        font-size: 24px;
      }
      font-optical-sizing: auto;
    }
    .text-wrapper {
      margin-bottom: 20px;
      .text-1 {
        font-size: 25px;
        font-weight: 700;

        letter-spacing: 2.6px;

        color: #2e2e2e;

        @include media(sm) {
          font-size: 18px;
        }
      }

      .span-1 {
        display: inline-block;

        width: 45px;

        border: 2px solid #008474;
      }
    }
  }

  .training-card-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    .card-wrapper {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      margin-bottom: 20px;
      padding-top: 50px;
      padding-bottom: 20px;
      padding-left: 20px;

      border-radius: 15px;
      background-color: #e5f3f1;

      @include media(sm) {
        flex-direction: column;

        padding-top: 40px;
        padding-right: 20px;
      }

      &:not(:last-child)::after {
        position: absolute;
        bottom: -25px;
        left: 50%;

        width: 15px;
        height: 25px;

        content: '';
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);

        background-color: #008474;
      }
      .number-img {
        position: absolute;
        top: 28px;
        left: 53px;

        width: 90px;
        height: 90px;

        @include media(sm) {
          top: 18px;
          left: 15px;

          width: 70px;
          height: 70px;
        }
      }
      .img-wrapper {
        width: 40%;

        @include media(sm) {
          width: 100%;
        }
        .training-img {
          width: 100%;

          object-fit: contain;
        }
      }
      .text-wrapper {
        width: 40%;

        @include media(sm) {
          width: 100%;
        }
        .head-1 {
          font-size: 32px;
          font-weight: 700;
          line-height: 30px;

          margin-bottom: 30px;

          letter-spacing: 1.02px;

          color: #008474;

          @include media(sm) {
            font-size: 20px;

            margin-bottom: 16px;
          }
        }
        .text-1 {
          font-size: 20px;
          font-weight: 400;
          // line-height: 21px;
          line-height: 32px;

          width: 360px;

          letter-spacing: .64px;

          color: #2e2e2e;

          @include media(sm) {
            font-size: 16px;

            width: auto;
          }
        }
      }
    }
  }
}
